.home-box {

    // 头部head
    .home-head-box {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 15px;

        .person {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                display: block;
            }
        }

        .info {
            display: flex;
            align-items: center;

            .title {
                height: 32px;
                line-height: 32px;
                padding-left: 15px;
                font-size: 20px;
                border-left: 1px solid black;
            }

            .time {
                padding-right: 15px;
                width: 40px;
                height: 50px;
                line-height: 50px;

                span {
                    display: block;
                    text-align: center;
                    line-height: 25px;
                    font-size: 12px;

                    &:nth-child(1) {
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    // 轮播图
    .home-swiper-box {
        width: 100%;
        height: 300px;
        background: #ddd;

        .adm-swiper {
            height: 100%;
        }

        // a就是link渲染之后
        a {
            display: block;
            height: 100%;
        }

        .adm-image {
            display: block;
            width: 100%;
            height: 100%;

            // 图片加载失败显示
            .adm-image-tip>svg {
                width: 20%;
                height: 20%;
            }
        }

        .desc {
            position: absolute;
            width: 100%;
            bottom: 20px;
            padding: 0 15px;
            left: 0;
            z-index: 99999;

            .title {
                font-size: 18px;
                color: #000;
            }

            .author {
                color: gray;
                font-size: 12px;
                line-height: 10px;
            }
        }

        // 分页器 // 修改节点的位置 transform:translate(x,y) 
        .adm-page-indicator {

            transform: translate(140px, -3px);
        }

        .adm-page-indicator-dot {
            width: 7px;
            height: 7px;
            background: red;
            border-radius: 50%;
            margin: 0 3px;

            // 上面的active 利用&表示是这个一起的
            &.adm-page-indicator-dot-active {
                width: 20px;
                border-radius: 4px;
                background: #FFF;
            }
        }


    }

    // 底部新闻内容
    .home-news-box {
        width: 100%;
        min-height: 100%;

        // 骨架屏 样式
        .skeleton-again-box {

            // 标题
            .adm-skeleton-title {
                height: 25px;
            }

            // 内容
            .adm-skeleton-paragraph-line {
                height: 25px;
                margin: 10px 0px;
            }
        }

        // 底部 加载更多
        .loadmore-box {
            height: 50px;
            line-height: 50px;
            background: #eee;
            text-align: center;
            font-size: 13px;
            color: #999;
            z-index: 9999;

            //  loading图标 
            .adm-dot-loading {
                position: static;
                transform: none;
                font-size: 16px;
            }
        }

        // 水平线
        .adm-divider-horizontal {
            margin: 0px;
        }

        // 详细新闻内容 
        .news-item-box {
            min-height: 80px;
            padding: 10px 0;
            position: relative;

            // a标签
            a {
                text-decoration: none;
                height: 100%;

                // 这里有一个点，就是当信息被点击了之后，颜色会变浅
                &:visited {
                    .content {
                        .title {
                            color: #999;
                        }

                        .author {
                            color: #999;
                        }
                    }
                }
            }

            // 新闻内容 
            .content {
                margin-right: 90px;
                margin-left: 10px;

                .title {
                    // margin-bottom: 7px;
                    margin: 0;
                    font-size: 16px;
                    color: #000;
                    line-height: 30px;
                    max-height: 60px;
                    overflow: hidden;
                }

                .autor {
                    color: #999;
                    font-size: 12px;
                    line-height: 10px;
                }
            }

            // 图片
            .adm-image {
                position: absolute;
                right: 10px;
                top: 15px;
                width: 65px;
                height: 65px;

                .adm-image-tip {
                    svg {
                        width: 50px;
                        height: 50px;
                    }
                }

                img {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }
    }
}